* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
img {
    max-width: 100%;
    height: auto;
}
body {
    font-family: Inter;
}
.container {
    margin-block: 2em;
    max-width: 1200px;
    margin-inline: 2em;
}
main {
    padding-block: 7.5rem 1rem;
}
a,
li {
    text-decoration: none;
    list-style-type: none;
}
@media only screen and (min-width: 1200px) {
    .container {
        margin-inline: auto;
    }
    .hide-desktop {
        display: none;
    }
    .nav-menu {
        position: unset;
    }
}
